.card-white {
  margin-top: 56px;
  background-color: white;
  width: 500px;
  /* height: 300px; */
  padding: 16px;
  margin-bottom: 16px;
}

.card-img {
  height: 300px;
  background-size: cover;
}

.card-white a {
  opacity: 0;
  transition: opacity 1s;
}

.card-white:hover a {
  opacity: 1;
}

.card-footer {
  display: flex;
  align-items: center;
}

.card-footer img {
  margin-right: 8px;
}

.cards {
  display: flex;
  gap: 16px;
  padding: 16px;
}