.cards {
  display: flex;
  gap: 16px;
}

.card-white {
  background-color: white;
  padding: 8px;
  margin-bottom: 8px;
}

.card-image {
  height: 200px;
  width: 300px;
  background-size: cover;
  background-position: 50% 30%;
}

.card-image a{
  opacity: 0;
}

.card-white:hover a {
  opacity: 1;
  transition: 1s;
}

.card-info {
  display: flex;
  align-items: center;
}

.card-info img {
  margin-right: 8px;
}