.card-container {
  width: 360px;
}

.card-white {
  background-color: white;
  padding: 16px;
  margin-bottom: 16px;
}

.card-picture {
  height: 200px;
  background-size: cover;
  background-position: 50% 100%;
}

.card-white a {
  opacity: 0;
}

.card-white:hover a {
  opacity: 1;
  transition: 1s;
}

.cards {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.card-name {
  display: flex;
  align-items: center;
  gap: 16px;
}